<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">


<select id="memberList" resultType="kr.co.mz.comm.security.model.UserVO">
/* admin-mapper.xml : memberList 조회 */
SELECT
	id
	,username
	,password
	,first_name
	,last_name
	,email
	,accountstate
	,reg_date
	,upp_date
FROM mecury1db1.sc_member
</select>

</mapper>